includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Access to an undefined property Cookie::\$profile.#'
    - '#Call to static method getInstance\(\) on an unknown class PrestaShop\\PrestaShop\\Adapter\\SymfonyContainer.#'
    - '#Call to an undefined method AdminPsThemeCustoConfigurationController::ajaxRender\(\).#'
